<div class="row">
  <div class="col-md-6">
    <h3><%= @group.name %></h3>
    <p><strong>Type: </strong><%= @group.group_type %></p>
    <p><strong>Description: </strong><%= @group.description %></p>
    <p><strong>Field: </strong><a href="/fields/<%= @group.field.id %>"><%= @group.field.name %></a></p>
    <p><%= @field_address %></p>
  </div>
  <div class="col-md-6">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #showmap {
        height: 300px;
      }
    </style>
    <div id="showmap"></div>
  </div>
</div>
<% if @user_group == false %>
  <%= form_tag "/user_groups", method: :post do %>
    <input name="group_id" value="<%= @group.id %>" type="hidden">
    <%= button_tag "Join this group", class: "btn btn-default" %>
  <% end %>
<% else %>
  <h5>You are a member of this group!</h5>
<% end %>
<hr>
<div id="outer">
  <div class="inner"><a href="/groups"><button class="btn btn-default">View All Groups</button></a>
  </div>
  <% if @user_group_admin == true %>
    <div class="inner">
      <a href="/groups/<%= @group.id %>/edit"><button class="btn btn-default">Update this Group</button></a>
    </div>
    <div class="inner">
    <%= button_to "Delete this Group", "/groups/#{@group.id}", method: :delete, class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<script>

function initMap() {
  var myLatLng = {lat: <%= @field.latitude %>, lng: <%= @field.longitude %>};

  var showmap = new google.maps.Map(document.getElementById('showmap'), {
    zoom: 15,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: showmap,
    title: 'Hello World!'
  });
}

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZxciPqerBead0Ay4BDH1cy9hra0BFLfc
&signed_in=true&callback=initMap"></script>
