<%= form_tag "/events/#{@event.id}", method: :patch do %>
  <div class="container form-group">
    <label>Name</label> 
    <%= text_field_tag :name, @event.name, class: "form-control" %>
  </div>
  <div class="container form-group">
    <div class="row">
      <div class="col-md-6">
        <label>Event Type</label>
        <select class="form-control selectpicker" name="event_type">
            <option class="event-type" value="Pickup">Pickup</option>
            <option class="event-type" value="League">League</option>
            <option class="event-type" value="HAT Tournament">HAT Tournament</option>
            <option class="event-type" value="BYOT Tournament">BYOT Tournament</option>
            <option class="event-type" value="Other">Other (Elaborate in Description)</option>
        </select>
      </div>
      <div class="col-md-6">
        <label>Field</label>
        <select class="form-control" name="field_id">
            <% @fields.each do |field| %>
              <option class="field-id" value="<%= field.id %>"><%= field.name %></option>
            <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class='col-md-6'>
        <div class="form-group">
          <label>Date/Time Begin</label>
          <div class='input-group date' id='datetimepicker6'>
            <input type='text' class="form-control" name="start_datetime"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class="form-group">
          <label>Date/Time End</label>
          <div class='input-group date' id='datetimepicker7'>
            <input type='text' class="form-control" name="stop_datetime"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker6').datetimepicker({
        defaultDate: "<%= @event.start_datetime.advance(:hours => 6) %>"
      });
      $('#datetimepicker7').datetimepicker({
        defaultDate: "<%= @event.stop_datetime.advance(:hours => 6) %>"
      });
      $("#datetimepicker6").on("dp.change", function (e) {
        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
      });
      $("#datetimepicker7").on("dp.change", function (e) {
        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
      });
    }());
  </script>
  <div class="container form-group">
    <%= label_tag :description %>
    <%= text_area_tag :description, @event.description, class: "form-control" %>
  </div>
  <div class="container">
    <%= button_tag 'Submit', class: "btn btn-default"%>
    <a href="/events"><button class="btn btn-default">Back</button></a>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function () {
  var types = $(".event-type");
  for (var i = 0; i <= types.length; i++) {
    var type = types[i];
    if ($(type).val() === "<%= @event.event_type %>") {
      type.setAttribute('selected', true);
    }
  }
  var fields = $(".field-id");
  for (var i = 0; i <= fields.length; i++) {
    var field = fields[i];
    if ($(field).val() === "<%= @event.field_id %>") {
      field.setAttribute('selected', true);
    }
  }
});
</script>