<%= form_tag "/events/#{@event.id}", method: :patch do %>
  <div class="container form-group">
    <label>Name</label> 
    <%= text_field_tag :name, @event.name, class: "form-control" %>
  </div>
  <div class="container form-group">
    <div class="row">
      <div class="col-md-6">
        <label>Event Type</label>
        <select class="form-control selectpicker" name="event_type">
            <option value="Pickup">Pickup</option>
            <option value="League">League</option>
            <option value="HAT Tournament">HAT Tournament</option>
            <option value="BYOT Tournament">BYOT Tournament</option>
            <option value="Other">Other (Elaborate in Description)</option>
        </select>
      </div>
      <div class="col-md-6">
        <label>Field</label>
        <select class="form-control" name="field_id">
            <% @fields.each do |field| %>
              <option value="<%= field.id %>"><%= field.name %></option>
            <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class='col-md-6'>
        <div class="form-group">
          <label>Date/Time Begin</label>
          <div class='input-group date' id='datetimepicker6'>
            <input type='text' class="form-control" name="start_datetime"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class="form-group">
          <label>Date/Time End</label>
          <div class='input-group date' id='datetimepicker7'>
            <input type='text' class="form-control" name="stop_datetime"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker6').datetimepicker({
        defaultDate: "<%= @event.event_times.first.start_datetime.advance(:hours => 6) %>"
      });
      $('#datetimepicker7').datetimepicker({
        defaultDate: "<%= @event.event_times.first.stop_datetime.advance(:hours => 6) %>"
      });
      $("#datetimepicker6").on("dp.change", function (e) {
        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
      });
      $("#datetimepicker7").on("dp.change", function (e) {
        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
      });
    }());
  </script>
  <div class="container form-group">
    <%= label_tag :description %>
    <%= text_area_tag :description, @event.description, class: "form-control" %>
  </div>
  <div class="container">
    <%= button_tag 'Submit', class: "btn btn-default"%>
    <button class="btn btn-default" onclick="goBack()">Cancel</button>
  </div>
<% end %>

