<h2>Full List of Events:</h2>

<% @events.each do |event| %>
  <p>Name: <a href="/events/<%= event.id %>"><%= event.name %></a></p>
  <div class="row">
    <p class="col-md-6">Type: <%= event.event_type %></p>
    <p class="col-md-6">Field: <%= event.field.name %></p>
  </div>
  <p>Description: <%= event.description %></p>
  <p>Date/Time Start: <%= event.start_datetime.strftime("%A, %B %d at %I:%M %p") %></p>
  <p>Date/Time Stop: <%= event.stop_datetime.strftime("%A, %B %d at %I:%M %p") %></p>
  <p><%= link_to "Join this event!", user_events_path(:event_id => event.id), method: :post %></p>
  <p><%= link_to "Edit this event!", "/events/#{event.id}/edit", method: :get %></p>
  <hr>
<% end %>


