<div class="row" id="row_padding">
  <div class="col-md-3">
    <h2>All Events</h2>
  </div>
  <div class="col-md-6">
  </div>
  <% if current_user %>
    <div class="col-md-3">
      <a href="/events/new"><button class="btn btn-default" style="margin-top: 20px">Create a New Event</button></a>
    </div>
  <% end %>
</div>

<% @events.each do |event| %>
  <div class="well">
    <h3><a href="/events/<%= event.id %>"><%= event.name %></a></h3>
    <p><strong>Type: </strong><%= event.event_type %></p>
    <p><strong>Field: </strong><%= event.field.name %></p>
    <p><strong>Begin: </strong><%= event.start_datetime.strftime("%-A, %-B %d at %-I:%M %p") %></p>
    <p><strong>End: </strong><%= event.stop_datetime.strftime("%-A, %-B %d at %-I:%M %p") %></p>
    <p><strong>Description: </strong><%= event.description %></p>
  </div>
<% end %>


