<h3><%= @event.name %></h3>
<p>Event Type: <%= @event.event_type %></p>
<p>Start Date/Time: <%= @event.start_datetime.strftime("%A, %B %d at %I:%M %p") %></p>
<p>Stop Date/Time: <%= @event.stop_datetime.strftime("%A, %B %d at %I:%M %p") %></p>
<p><%= @event.description %></p>
<p>Where: <%= @event.field.name %></p>
<p><%= link_to "Join this event!", "/user_events", method: :post %></p>
<hr>
<p><%= link_to 'Edit this Event', "/events/#{@event.id}/edit", method: :get %></p>
<p><%= link_to 'Delete this Event', "/events/#{@event.id}", method: :delete %></p>
<button class="btn btn-default" onclick="goBack()">Back</button>