<h2>Field Conditions:</h2>

<% @field_conditions.each do |field_condition| %>
  <p>Condition: <a href="/field_conditions/<%= field_condition.id %>"><%= field_condition.condition %></a></p>
  <p>Field ID: <%= field_condition.field_id %></p>
  <p>Reported by User: <%= field_condition.user_id %></p>
  <hr>
<% end %>

<div><%= link_to "Add New Condition", "/field_conditions/new", method: :get %></div>

<div><%= link_to "Sign Out", "/users/sign_out", method: :delete %></div>
