<h3>Add a new Field Condition:</h3>
<%= form_tag '/field_conditions', method: :post do %>
  <label>Field</label>
  <div class="form-group">
    <select class="form-control" name="field_id">
      <% @fields.each do |field| %>
        <option value="<%= field.id %>"><%= field.name %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= label_tag :condition %>
    <%= text_field_tag :condition, nil, class: "form-control" %>
  </div>
  <% hidden_field_tag :user_id, current_user.id %>
  <div>
    <%= button_tag 'Submit', class: "btn btn-default" %>
    <a href="/fields"><button class="btn btn-default">Back</button></a>  
  </div>
<% end %>
<br>
