<p><%= @field_condition.condition %></p>
<p><%= @field_condition.field_id %></p>
<p><%= @field_condition.user_id %></p>
<hr>
<div><%= link_to "Edit this Field Condition", "/field_conditions/#{@field_condition.id}/edit", method: :get %></div>
<div><%= link_to "Delete this Field Condition", "/field_conditions/#{@field_condition.id}", method: :delete %></div>