

<div class="row">
  <div class="col-md-9">
    <div id='calendar' style="padding-top:50px">
    </div>
  </div>
  <div class="col-md-3" id="row_padding">
    <% if @user_events != [] %>
      <h3>Your upcoming events</h3>
      <% @user_events.each do |user_event| %>
        <div class="well">
        <h4><%= user_event.start_datetime.to_date.strftime("%A, %B %d") %></h4>
        <p><strong><a href="/events/<%= user_event.id %>"><%= user_event.name %></a></strong></p>
        <p><strong>Event Type: </strong><%= user_event.event_type %></p>
        <p><strong>Where: </strong><%= user_event.field.name %></p>
        </div>
      <% end %>
    <% else %>
      <h3>You have no upcoming events.</h3>
    <% end %>
  </div>
</div>
<hr>
<div>
  <% if @user_groups != [] %>
    <h3>Your groups</h3>
    <div class="row">
      <% @user_groups.each do |user_group| %>
        <div class="col-sm-3 well" id="group_wells">
            <h4><center><a href="/groups/<%= user_group.id %>"><%= user_group.name %></a></center></h4>
            <p><center><strong>Type: </strong><%= user_group.group_type %></center></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>You do not belong to any groups.</h3>
  <% end %>

</div>
