<div class="container">
  <%= form_tag '/fields', method: :post do %>
    <div class="form-group">
      <%= label_tag :name, "Name" %>
      <%= text_field_tag :name, @field.name, class: "form-control" %>
    </div>
    <div class="form-group" id="locationField">
      <label>Input Address</label>
      <input id="autocomplete" class="form-control" onFocus="geolocate()" placeholder="" type="text"></input>
    </div>
    <div class="form-group">
      <%= label_tag :street_number, "Street Number" %>
      <%= text_field_tag :street_number, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :route, "Street Address" %>
      <%= text_field_tag :route, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :locality, "City" %>
      <%= text_field_tag :locality, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :administrative_area_level_1, "State" %>
      <%= text_field_tag :administrative_area_level_1, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :country %>
      <%= text_field_tag :country, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :postal_code, "Zip Code" %>
      <%= text_field_tag :postal_code, nil, class: "form-control" %>
    </div>
    <div>
      <%= button_tag 'Submit', class: "btn btn-default" %>
    </div>
  <% end %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZxciPqerBead0Ay4BDH1cy9hra0BFLfc&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>