<h3><%= @field.name %></h3>
<p><%= @field_placeholder %></p>
<br>
<h4>Field Conditions:</h4>
<% @field.field_conditions.each do |field_condition| %>
  <p><%= field_condition.condition %></p>
  <p><i>created on <%= field_condition.created_at %></i></p>
  <hr>
<% end %>

<br>
<form action="/field_conditions/new">
  <input type="hidden" value="<%= @field.id %>" name="field_id">
  <button class="btn btn-default" type="submit">Add a New Field Condition</button>
</form>
<form action="/fields/<%= @field.id %>/edit">
    <input type="submit" class="btn btn-default" value="Edit this Field">
</form>
<form action="/fields">
    <input type="submit" class="btn btn-default" value="Back">
</form>
